{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}

    {%
      set navbar_classes = [
        'navbar',
        'stc-page__navbar__container',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : '',
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar">
      <div id="wb-bnr" class="{{ container }}">
        <div class="row">
          {{ page.banner }}
          {{ page.search }}
        </div>
        <div class="row">
          <nav class="gcweb-menu stc-page__navbar" data-trgt="mb-pnl" typeof="SiteNavigationElement">
            {{ page.branding }}
            <h2 class="wb-inv">{{ 'Menu'|t }}</h2>
            {{ page.navigation }}
            <section id="wb-lng" class="stc-page__language">
              <h2 class="wb-inv">{{ 'Language selection'|t }}</h2>
              {{ page.language_toggle }}
            </section>
          </nav>
        </div>
      </div>
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}

  <div class="{{ (is_front and wxt_homepage) ? "container-fluid" : container }}">
    <div class="row">

      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted  %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-6 col-md-push-3',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-9 col-md-push-3',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-md-12'
        ]
      %}
      <main property="mainContentOfPage" {{ content_attributes.addClass(content_classes, 'main-container', container, 'js-quickedit-main-content') }}>
      {{ page.breadcrumb }}
      {# Header #}
      {% if page.header %}
        {% block header %}
          {{ page.header }}
        {% endblock %}
      {% endif %}

      <section>

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
          {{ page.content_footer }}
        {% endblock %}
      </section>

      </main>

      {# Sidebar First #}
      {%
        set sidebar_first_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-3 col-md-pull-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-3 col-md-pull-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-3 col-md-pull-9'
        ]
      %}
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <nav{{ attributes.addClass(sidebar_first_classes) }}>
            {{ page.sidebar_first }}
          </nav>
        {% endblock %}
      {% endif %}

      {# Sidebar Second #}
      {%
        set sidebar_second_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-3',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-3',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-3'
        ]
      %}
      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <nav{{ attributes.removeClass(sidebar_first_classes).addClass(sidebar_second_classes) }}>
            {{ page.sidebar_second }}
          </nav>
        {% endblock %}
      {% endif %}

    </div>
  </div>

{% endblock %}

{# GCWeb #}
{% if gcweb_cdn_goc and not gcweb_election %}
  <aside class="gc-nttvs {{ container }}">
    <h2>{{ 'Government of Canada activities and initiatives'|t }}</h2>
    <div id="gcwb_prts" class="wb-eqht row" data-ajax-replace="//cdn.canada.ca/gcweb-cdn-live/features/features-{{ language }}.html">
      <p class="mrgn-lft-md">
        <a href="http://www.canada.ca/activities.html">{{ 'Access Government of Canada activities and initiatives'|t }}</a>
      </p>
    </div>
  </aside>
{% endif %}

{% if page.footer %}
  {% if gcweb_cdn_footer_enable %}
    <footer id="wb-info" data-ajax-append="{{ gcweb_cdn_footer_url }}{{ language }}.html .brand">
      <div class="landscape" data-ajax-replace="{{ gcweb_cdn_footer_url }}{{ language }}.html .wb-navcurr"></div>
    </footer>
  {% else %}
    {% block footer %}
      <footer id="wb-info">
        <div class="brand stc-page__footer__container">
          <div class="{{ container }}">
            <div class="stc-page__footer">
              {{ page.footer }}
              <div class="visible-sm visible-xs">
                <a href="#wb-cont">{{ 'Top of Page'|t }}<span class="glyphicon glyphicon-chevron-up"></span></a>
              </div>
              <img src='{{ logo_bottom_svg }}' alt='{{ 'Symbol of the Government of Canada'|t }}' />
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}
  {% endif %}
{% endif %}
