{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% if title %}
  {% if node.field_show_title.value == 1 %}
    <h1{{ title_attributes.addClass("sr-only") }} id="wb-cont">{{ title }}</h1>
  {% else %}
    <h1{{ title_attributes.addClass("stc-page-title") }} id="wb-cont">{{ title }}</h1>
  {% endif %}
{% endif %}
