/*******************************
*
* .stc-ELEMENT__SUBELEMENT--MOD
*
********************************/

/* SIDEBAR BLOCKS */
.stc-block--sidebar {
  background-color: #E5E5E5;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  min-height: 15rem;
}

.stc-block__title--sidebar {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem !important;
}


/* FIELDS */
.stc-field__item hr {
  margin: 1rem 0;
}

.stc-field__item li {
  margin: 0.5rem 0;
}

.stc-field__item--sidebar > div {
  background-color: inherit;
}

.stc-field__item--sidebar > p {
  margin: 0;
}

.stc-field__item--service-page {
  line-height: 2.5rem;
  color: #4E4E4E;
}

.stc-field__item--service-page details {
  margin-bottom: 1.5rem !important;
}

.stc-field__item--service-page summary {
  padding: 2rem !important;
  margin-bottom: 1.5rem !important;
  background-color: #264653 !important;
  color: white !important;
  font-weight: 600;
}

/* PAGE */
.stc-page__footer__container {
  background-color: white !important;
}

.stc-page__footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.stc-page__navbar__container {
  background-color: #E5E5E5 !important;
  margin-bottom: 3rem !important;

  display: flex;
  align-items: center;
}

.stc-page__navbar {
  margin: 0;
  padding: 0 1.25rem;
  border: none !important;
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.stc-page__navbar > .region-branding {
  margin-right: auto;
}

.stc-page__language {
  margin: 0 !important;
  padding: 0 !important;
}

/* MENU */
.stc-menu--main {
  margin: 0;
  padding: 0;
  
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.stc-menu__item--main {
  border: none;
  padding: 0 1.3rem;
}

.stc-menu__item--main > a {
  font-size: 1.4rem !important;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

/* LANGUAGE */
.stc-links__language__block__list {
  margin: 0 !important;
  padding: 0 !important;
}

.stc-links__language__block__list__item {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.stc-links__language__block__list__item > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.stc-links__language__block__list__item > a > abbr {
  text-decoration: none;
}

/* PAGE TITLE*/
.stc-page-title {
  border-bottom: none !important;
  margin-top: 0;
}

.stc-page-title {
  font-size: 5.5rem;
  color: #264653;
}

/* NODE */
a.stc-node__card__container:link, 
a.stc-node__card__container:hover,
a.stc-node__card__container:visited,
a.stc-node__card__container:active {
  text-decoration: none;
  color: inherit;
}

.stc-node__card {
  border: 1px solid #E5E5E5;
  margin-top: 3rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stc-node__card:hover {
  border-color: black;
}

.stc-node__card > .field--name-field-card-icon {
  width: 35rem;
  height: 35rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stc-node__card__text {
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
}

.stc-node__card__text > .field--name-field-card-title, .field--name-field-card-description {
  padding: 1rem;
  line-height: normal;
}

.stc-node__card__text > .field--name-field-card-title {
  font-weight: bold;
  padding-bottom: 0 !important;
}

.stc-node__card__text > .field--name-field-card-description {
  flex: 1 0;
}

@media only screen and (min-width:768px) {
  .stc-node__card--with-icon {
    height: 40rem !important;
  }
}

@media only screen and (min-width:768px) {
  .stc-node__card {
    height: 15rem;
  }
}

.stc-full-width img {
  width: 100%;
  margin-bottom: 2rem;
}
