{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <figure class="stc-full-width">
    {{ title_suffix.contextual_links }}
    {% if content %}
      {{ content|without('name') }}
    {% endif %}
  </figure>
</article>
